.inner{
    height:120px;;
 }

 .download-link{
    font-size:1rem !important;padding:13px; font-weight: 600;
 }
 .google-store{
    color:#ff3333; font-size:35px; 
 }
 .app-store{
    color:#555555; font-size:35px; 
}
@media (max-width:768px){
    .app-block{
        display: inline-block!important;
        font-size: 19px;
        line-height: 16px;
    }
    /* .app-right{ */
        /* text-align: left !important; */
    /* } */
    .download-link{
        font-size:1rem !important;padding:20px; font-weight:300;
     }
     .google-store{
        color:#ff3333; font-size:35px; 
     }
     .app-store{
        color:#555555; font-size:35px; 
    }
    }

