/*------------------------------------------------------------------
Project:  ComingSoon
Version:  
Last change:  
Assigned to:  Bach Le
Primary use:  
-------------------------------------------------------------------*/



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/Poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/Poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato/Lato-Regular.ttf'); 
}





/*//////////////////////////////////////////////////////////////////
[ S-Text 0 - 15 ]*/

.s1-txt1 {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #e5e5e5;
  line-height: 1.333333;
}

.s1-txt2 {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #fff;
  line-height: 1;
}



/*//////////////////////////////////////////////////////////////////
[ M-Text 16 - 25 ]*/
.m1-txt1 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #57b846;
  line-height: 1.333333;
}

.m1-txt2 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.333333;
}


/*//////////////////////////////////////////////////////////////////
[ L-Text >= 26 ]*/
.l1-txt1 {
  font-family: Poppins-Regular;
  font-size: 36px;
  color: #fff;
  line-height: 1.333333;
  padding:100px 0px;
}

.l1-txt2 {
  font-family: Poppins-Bold;
  font-size: 36px;
  color: #fff;
  line-height: 1.333333;
}

.l1-txt3 {
  font-family: Poppins-Bold;
  font-size: 40px;
  color: #fff;
  line-height: 1;
}

/*==================================================================
   SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE
==================================================================*/
/*//////////////////////////////////////////////////////////////////
[ Size ]*/
.size1 {
  width: 100%;
  min-height: 100vh;
}

.size2 {
  width: 155px;
  height: 155px;
  text-align:center
}

.size3 {
  min-width: 170px;
  height: 50px;
}

.size4 {
  width: 36px;
  height: 36px;
}

/*//////////////////////////////////////////////////////////////////
[ Width ]*/
.wsize1 {
  max-width: 700px;
}



/*//////////////////////////////////////////////////////////////////
[ Height ]*/




/*//////////////////////////////////////////////////////////////////
[ Background ]*/
.bg0 {background-color: #fff;}

.bg-img1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




/*//////////////////////////////////////////////////////////////////
[ Border ]*/
.bor1 {
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 50%;
}


.overlay1 {
  position: relative;
  z-index: 1;
}
.overlay1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #7579ff;
  background: -webkit-linear-gradient(bottom, #b224ef, #7579ff);
  background: -o-linear-gradient(bottom, #b224ef, #7579ff);
  background: -moz-linear-gradient(bottom, #b224ef, #7579ff);
  background: linear-gradient(bottom, #b224ef, #7579ff);
  opacity: 0.9;
} */

.mobile{
  /* position:absolute; */
  position:relative;
  width:100%;
  /* left:-60px; */
  /* top:20px; */
  /* display:inline-block; */
}
.logo{
  width: 34%;
  position: absolute;
  left: 106px;
  top: 98px;
  text-align: center;
}
.mobile .mobi{
  width:100%;
}
@media (max-width:992px){
  .p-b-165 {
    padding-bottom: 20px;
}
.p-t-116 {
  padding-top: 0px;
}
  .mobile{
    position:relative;
    width:100%;
    left:0px;
    top:40px;
    display:inline-block;
    margin:auto;
  }
  .logo{
    width: 39%;
    left: 213px;
    top: 144px;
  }
}
@media (max-width:768px){
  .mobile{
    position:relative;
    width:100%;
    left:0px;
    top:40px;
    display:inline-block;
    margin:30px auto auto auto;
  }
  .logo{
    width:47%;
    left: 131px;
    top: 157px;
  }
}
@media (max-width:576px){
  .mobile{
    position:relative;
    width:100%;
    left:0px;
    top:40px;
    display:inline-block;
    margin:30px auto auto auto;
  }
  .logo{
    width:46%;
    left: 131px;
    top: 157px;
  }
  .size2 {
    width: 100px;
    height: 100px;
    text-align: center;
}
}
@media (max-width:450px){
  .logo {
    width: 30%;
    left: 119px;
    top: 130px;
}
}
.show-image{
  text-align: center;
  margin:auto;
}
.btn-custom-link{
  position:absolute;
  background-color:#204c7b!important;
  color:white!important;
  padding:7px 10px!important;
  border-radius:0px!important;
  float:right!important;
  z-index:9999px!important;
  right: 20px;
  top: 20px;
  transition:0.3s!important;
  z-index:1000000;

}
.btn-custom-link:hover{
  transform:translateY(-10px);
}
.show-image img{
  width:60%;
  padding:20px 0px;
  text-align: center;
  margin:auto;
  transition:0.3s;
}
.show-image img:hover{
  transform:translateY(-10px);
}
.show-image h4{
  color:white;
  font-size:25px;
  font-weight:500;
}
.show-image p{
  color:white;
  font-size:18px;
  font-weight:500;
  text-align:justify;
  position:relative;
}
.border-top-set{
  border-top:3px solid #ffffff;
}
@media (max-width:992px){
  .show-image h4{
    position:fixed;
    padding:20px 0px;
    color:white;
    font-size:25px;
    font-weight:500;
    z-index:1000000;
  }
}
@media (max-width:768px){
  .btn-custom-link{
    position:fixed;
    right: 203px;
    top: 20px;
    z-index:1000000;
  }
}
@media (max-width:576px){
  .btn-custom-link{
    position:fixed;
    right: 155px;
    top: 20px;
    z-index:1000000;
  }
}